In [1]:
#Importemos algunas de las librerías más clásicas para el manejo de datos en Python

#Pandas es la librería básica para la manipulación y análisis de datos
import pandas as pd

#Numpy es la biblioteca para crear vectores y matrices, además de un conjunto grande de funciones matemáticas
import numpy as np

#Seaborn es una librería que usamos para graficar
import seaborn as sns

#Statsmodels es la biblioteca para realizar modelos
import statsmodels.formula.api as smf

In [3]:
#USO DE LA LIBRERIA PANDA - METODOS DE PANDAD DATAFRAME
#Para ver el detalle de los Metodos pararme sobre el metodo y ejecutar las teclas Shift+Tab
df_nations = pd.read_csv("https://raw.githubusercontent.com/DireccionAcademicaADL/Nations-DB/main/nations.csv", encoding="ISO-8859-1")

In [5]:
df_nations

,Unnamed: 0,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini
0,1,Algeria,Africa,7300.399902,6.716667,7.300000,34.75,72.316666,34172236,64.933334,0.4522,72.599998,15.00,NaN
1,2,Benin,Africa,1338.800049,3.100000,111.699997,122.75,54.733334,8237634,41.000000,0.8482,41.700001,1.20,NaN
2,3,Botswana,Africa,12307.400391,8.600000,52.099998,60.25,52.250000,1941233,59.250000,0.8870,84.099998,9.20,NaN
3,4,Burkina Faso,Africa,1063.400024,1.300000,124.800003,170.50,53.783333,15308383,23.583334,0.8584,23.600000,0.20,NaN
4,5,Burundi,Africa,349.200012,2.483333,18.600000,168.50,48.866665,7821783,10.250000,1.0344,66.599998,0.10,33.299999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,190,Samoa,Oceania,4012.600098,10.300000,28.299999,26.75,71.533333,181600,20.666668,0.5010,98.800003,3.10,NaN
190,191,Solomon Islands,Oceania,2249.199951,4.500000,70.300003,36.00,66.500000,503617,17.766666,0.4858,NaN,1.40,NaN
191,192,Tonga,Oceania,4072.199951,10.133333,22.299999,19.25,71.833336,102550,23.266666,0.7150,99.000000,4.85,NaN
192,193,Tuvalu,Oceania,NaN,NaN,23.299999,36.50,66.033333,9767,49.233334,NaN,NaN,NaN,NaN
193,194,Vanuatu,Oceania,3809.800049,6.700000,54.000000,17.75,69.966667,225317,24.500000,0.8988,82.000000,1.50,NaN

In [9]:
# El método 'head()' nos permite ver "la cabecera" del dataset

df_nations.head()

,Unnamed: 0,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini
0,1,Algeria,Africa,7300.399902,6.716667,7.300000,34.75,72.316666,34172236,64.933334,0.4522,72.599998,15.0,NaN
1,2,Benin,Africa,1338.800049,3.100000,111.699997,122.75,54.733334,8237634,41.000000,0.8482,41.700001,1.2,NaN
2,3,Botswana,Africa,12307.400391,8.600000,52.099998,60.25,52.250000,1941233,59.250000,0.8870,84.099998,9.2,NaN
3,4,Burkina Faso,Africa,1063.400024,1.300000,124.800003,170.50,53.783333,15308383,23.583334,0.8584,23.600000,0.2,NaN
4,5,Burundi,Africa,349.200012,2.483333,18.600000,168.50,48.866665,7821783,10.250000,1.0344,66.599998,0.1,33.299999

In [11]:
# Con 'tail()' nos permite ver los últimos 5 registros del dataset
df_nations.tail()

,Unnamed: 0,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini
189,190,Samoa,Oceania,4012.600098,10.300000,28.299999,26.75,71.533333,181600,20.666668,0.5010,98.800003,3.10,NaN
190,191,Solomon Islands,Oceania,2249.199951,4.500000,70.300003,36.00,66.500000,503617,17.766666,0.4858,NaN,1.40,NaN
191,192,Tonga,Oceania,4072.199951,10.133333,22.299999,19.25,71.833336,102550,23.266666,0.7150,99.000000,4.85,NaN
192,193,Tuvalu,Oceania,NaN,NaN,23.299999,36.50,66.033333,9767,49.233334,NaN,NaN,NaN,NaN
193,194,Vanuatu,Oceania,3809.800049,6.700000,54.000000,17.75,69.966667,225317,24.500000,0.8988,82.000000,1.50,NaN

In [13]:
#Mostrar por ejemplo los últimos 10 registros
df_nations.tail(10)

,Unnamed: 0,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini
184,185,Micronesia,Oceania,2906.800049,8.800000,25.400000,40.00,68.349998,110250,22.483334,NaN,NaN,NaN,NaN
185,186,Nauru,Oceania,NaN,NaN,31.200001,45.50,79.466667,10183,100.000000,NaN,NaN,51.849998,NaN
186,187,New Zealand,Oceania,25199.599609,12.366667,30.900000,6.25,80.083336,4253334,86.133331,0.8118,NaN,26.950001,NaN
187,188,Palau,Oceania,NaN,12.100000,13.800000,15.00,70.666664,20167,80.683334,NaN,NaN,21.349998,NaN
188,189,Papua New Guinea,Oceania,1953.800049,4.116667,66.900002,69.75,61.483334,6474600,12.516666,0.9656,60.099998,2.750000,NaN
189,190,Samoa,Oceania,4012.600098,10.300000,28.299999,26.75,71.533333,181600,20.666668,0.5010,98.800003,3.100000,NaN
190,191,Solomon Islands,Oceania,2249.199951,4.500000,70.300003,36.00,66.500000,503617,17.766666,0.4858,NaN,1.400000,NaN
191,192,Tonga,Oceania,4072.199951,10.133333,22.299999,19.25,71.833336,102550,23.266666,0.7150,99.000000,4.850000,NaN
192,193,Tuvalu,Oceania,NaN,NaN,23.299999,36.50,66.033333,9767,49.233334,NaN,NaN,NaN,NaN
193,194,Vanuatu,Oceania,3809.800049,6.700000,54.000000,17.75,69.966667,225317,24.500000,0.8988,82.000000,1.500000,NaN

In [ ]:
#Metodo .drop() para eliminar filas o columnas
df_nations.drop(columns=["Unnamed: 0"], inplace = True)

In [19]:
df_nations.head(10)

,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini
0,Algeria,Africa,7300.399902,6.716667,7.300000,34.75,72.316666,34172236,64.933334,0.4522,72.599998,15.00,NaN
1,Benin,Africa,1338.800049,3.100000,111.699997,122.75,54.733334,8237634,41.000000,0.8482,41.700001,1.20,NaN
2,Botswana,Africa,12307.400391,8.600000,52.099998,60.25,52.250000,1941233,59.250000,0.8870,84.099998,9.20,NaN
3,Burkina Faso,Africa,1063.400024,1.300000,124.800003,170.50,53.783333,15308383,23.583334,0.8584,23.600000,0.20,NaN
4,Burundi,Africa,349.200012,2.483333,18.600000,168.50,48.866665,7821783,10.250000,1.0344,66.599998,0.10,33.299999
5,Cameroon,Africa,1986.800049,5.650000,127.800003,155.00,50.116665,18564118,56.366665,0.6532,NaN,0.75,NaN
6,Cape Verde,Africa,3052.199951,3.500000,81.599998,30.00,73.333336,484867,59.283333,0.6358,84.800003,2.15,NaN
7,Central African Rep,Africa,677.000000,3.383333,106.599998,173.50,45.933334,4203917,38.466667,0.8222,55.200001,0.20,NaN
8,Chad,Africa,1266.199951,1.500000,164.500000,209.00,48.566666,10509983,26.400000,0.8006,33.599998,0.10,NaN
9,Comoros,Africa,1099.000000,2.800000,58.000000,105.75,59.783333,688300,28.000000,0.8554,74.199997,0.40,NaN

In [21]:
#Metodo .columns trae el nombre de las columnas
df_nations.columns

Index(['country', 'region', 'gdp', 'school', 'adfert', 'chldmort', 'life',
       'pop', 'urban', 'femlab', 'literacy', 'co2', 'gini'],
      dtype='object')

In [23]:
#Si queremos observar el contenido de una columna del dataset, sería:
df_nations['country']

0              Algeria
1                Benin
2             Botswana
3         Burkina Faso
4              Burundi
            ...
189              Samoa
190    Solomon Islands
191              Tonga
192             Tuvalu
193            Vanuatu
Name: country, Length: 194, dtype: object

In [1]:
df_nations['country']=='Algeria'

NameError: name 'df_nations' is not defined

In [25]:
#Crear nuevas columnas
df_nations['gdp_pesos2021'] = df_nations['gdp']*850
df_nations.head()

,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini,gdp_pesos2021
0,Algeria,Africa,7300.399902,6.716667,7.300000,34.75,72.316666,34172236,64.933334,0.4522,72.599998,15.0,NaN,6.205340e+06
1,Benin,Africa,1338.800049,3.100000,111.699997,122.75,54.733334,8237634,41.000000,0.8482,41.700001,1.2,NaN,1.137980e+06
2,Botswana,Africa,12307.400391,8.600000,52.099998,60.25,52.250000,1941233,59.250000,0.8870,84.099998,9.2,NaN,1.046129e+07
3,Burkina Faso,Africa,1063.400024,1.300000,124.800003,170.50,53.783333,15308383,23.583334,0.8584,23.600000,0.2,NaN,9.038900e+05
4,Burundi,Africa,349.200012,2.483333,18.600000,168.50,48.866665,7821783,10.250000,1.0344,66.599998,0.1,33.299999,2.968200e+05

In [ ]:
#¿Qué tipos de atributos nos encontramos en el dataset?
#Para saber los tipo de atributos contenidos en un dataset, podemos usar el método info() el cuál imprime un resumen conciso, 
#informando el tipo de variables (categoricas, numéricas, string, etc) y además el número de valores no nulos de cada atributo y el uso de memoria.

In [5]:
df_nations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  194 non-null    int64
 1   country     194 non-null    object
 2   region      194 non-null    object
 3   gdp         179 non-null    float64
 4   school      188 non-null    float64
 5   adfert      194 non-null    float64
 6   chldmort    193 non-null    float64
 7   life        194 non-null    float64
 8   pop         194 non-null    int64
 9   urban       194 non-null    float64
 10  femlab      177 non-null    float64
 11  literacy    135 non-null    float64
 12  co2         185 non-null    float64
 13  gini        81 non-null     float64
dtypes: float64(10), int64(2), object(2)
memory usage: 21.3+ KB

In [ ]:
#Otro método muy útil cuando estamos explorando los datos, es describe(); 
#el cuál calcula estadísticas básicas de los atributos numéricos (float o int), dejando fuera los atributos categóricos o cualitativos.

In [7]:
df_nations.describe()

,Unnamed: 0,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini
count,194.000000,179.000000,188.000000,194.000000,193.000000,194.000000,1.940000e+02,194.000000,177.000000,135.000000,185.000000,81.000000
mean,97.500000,12118.739193,7.459220,51.814433,47.650259,68.729295,3.437752e+07,55.434880,0.691606,81.533148,17.885946,40.477778
std,56.147128,13942.341217,2.959589,44.066120,52.809400,10.055404,1.314004e+08,23.439101,0.182871,19.466359,25.670704,8.487874
min,1.000000,279.799988,1.150000,1.000000,2.250000,45.849998,9.767000e+03,10.250000,0.194200,23.600000,0.100000,19.000000
25%,49.250000,2100.300049,5.225000,16.500000,10.250000,63.745833,1.483754e+06,36.325000,0.578200,70.099998,2.250000,34.000000
50%,97.500000,6932.799805,7.950000,39.350000,24.000000,72.183331,6.784909e+06,56.475000,0.730400,89.699997,8.450000,39.700001
75%,145.750000,17576.299805,9.850000,74.375002,69.750000,75.545835,2.225532e+07,73.483334,0.820600,97.699997,25.000000,46.200001
max,194.000000,74906.000000,12.700000,207.100006,209.000000,82.766663,1.324696e+09,100.000000,1.034400,100.000000,210.649994,58.500000

In [9]:
df_nations['school'].describe()

count    188.000000
mean       7.459220
std        2.959589
min        1.150000
25%        5.225000
50%        7.950000
75%        9.850000
max       12.700000
Name: school, dtype: float64

In [11]:
#Por ejemplo solo traer el promedio de la columna school
df_nations['school'].mean()

7.459219855196933

In [13]:
# ¿cómo calculamos el valor promedio de gdp en el dataset?
df_nations['gdp'].mean()

12118.739193367559

In [17]:
# ¿Y cuánto es la tasa más baja de alfabetistmo en el dataset?
df_nations['literacy'].min()

23.6000003814697

In [ ]:
#¿Cuántos datos tenemos en cada región?
#Si queremos saber cuántos datos tiene cada región, se puede hacer a través de una tabla de frecuencias

In [19]:
df_nations['region'].value_counts()

region
Africa      52
Asia        49
Europe      43
Americas    35
Oceania     15
Name: count, dtype: int64

In [21]:
# Otra forma de hacer este conteo, puede ser a través de una tabla de agrupación
df_nations.groupby(['region'])[['country']].count()

          country
region
Africa         52
Americas       35
Asia           49
Europe         43
Oceania        15

In [ ]:
#Uso de la librería numpy
#Siguiendo con la manipulación de los datos, un método que nos ayuda a recodificar una variable (o crear una nueva a partir de una condición), 
#es el método where(); el cual proviene de la librería numpy y nos permite decidir, a través de una condición, qué va en el lugar de aquellas 
#filas que cumplen la condición, y qué va en el lugar de las filas que no cumplen la condición. La sintáxis correcta de uso sería:
#df_nations["variable"] = np.where(Condición, valor si verdadero, valor si falso)

In [7]:
# Usando where(), crearemos una variable nueva de co2, en dónde identifiquemos qué países están por debajo de la media, y qué países por sobre la media.
df_nations["co2_recodificada"] = np.where(df_nations["co2"]> df_nations["co2"].mean(), 1, 0)

In [9]:
df_nations.head()

,Unnamed: 0,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini,co2_recodificada
0,1,Algeria,Africa,7300.399902,6.716667,7.300000,34.75,72.316666,34172236,64.933334,0.4522,72.599998,15.0,NaN,0
1,2,Benin,Africa,1338.800049,3.100000,111.699997,122.75,54.733334,8237634,41.000000,0.8482,41.700001,1.2,NaN,0
2,3,Botswana,Africa,12307.400391,8.600000,52.099998,60.25,52.250000,1941233,59.250000,0.8870,84.099998,9.2,NaN,0
3,4,Burkina Faso,Africa,1063.400024,1.300000,124.800003,170.50,53.783333,15308383,23.583334,0.8584,23.600000,0.2,NaN,0
4,5,Burundi,Africa,349.200012,2.483333,18.600000,168.50,48.866665,7821783,10.250000,1.0344,66.599998,0.1,33.299999,0

In [11]:
# Para observar los resultados, podemos hacer una tabla de frecuencias
df_nations["co2_recodificada"].value_counts()

co2_recodificada
0    130
1     64
Name: count, dtype: int64

In [23]:
#Con lo anterior podemos dar respuesta a la Pregunta 3 ¿Cuántos países tienen índices de co2 mayores a la media?
co2_mayor_media = df_nations['co2_recodificada'].value_counts()[1]

In [27]:
print(f'Existen {co2_mayor_media} paises con los índices de co2 mayores a la media')

Existen 64 paises con los índices de co2 mayores a la media

In [39]:
# Una variación del método value_counts() es que si pones un caracter dentro del paréntesis, te mostrará los datos en porcentaje:
por_co2_mayor_media = df_nations["co2_recodificada"].value_counts("%")[1]
print(f'Existen un {por_co2_mayor_media:.2f} porciento de paises con los índices de co2 mayores a la media')

Existen un 0.33 porciento de paises con los índices de co2 mayores a la media

In [43]:
#Filtros, para el ejemplo vamos hacer filtro por region
df_africa = df_nations[df_nations['region'] == 'Africa']

In [45]:
df_africa.head()

,Unnamed: 0,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini,co2_recodificada
0,1,Algeria,Africa,7300.399902,6.716667,7.300000,34.75,72.316666,34172236,64.933334,0.4522,72.599998,15.0,NaN,0
1,2,Benin,Africa,1338.800049,3.100000,111.699997,122.75,54.733334,8237634,41.000000,0.8482,41.700001,1.2,NaN,0
2,3,Botswana,Africa,12307.400391,8.600000,52.099998,60.25,52.250000,1941233,59.250000,0.8870,84.099998,9.2,NaN,0
3,4,Burkina Faso,Africa,1063.400024,1.300000,124.800003,170.50,53.783333,15308383,23.583334,0.8584,23.600000,0.2,NaN,0
4,5,Burundi,Africa,349.200012,2.483333,18.600000,168.50,48.866665,7821783,10.250000,1.0344,66.599998,0.1,33.299999,0

In [47]:
#Otro ejemplo de filtro
df_europe = df_nations[df_nations['region'] == 'Europe']
df_europe.head()

,Unnamed: 0,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini,co2_recodificada
136,137,Albania,Europe,6832.600098,10.283333,17.9,17.0,76.400002,3174417,49.350002,0.6948,95.900002,5.150000,34.500000,0
137,138,Andorra,Europe,NaN,10.400000,8.4,4.0,80.516663,81733,89.116669,NaN,NaN,NaN,NaN,0
138,139,Austria,Europe,34838.398438,10.366667,12.8,4.5,80.183334,8320033,67.016663,0.7714,NaN,31.900002,NaN,1
139,140,Belarus,Europe,10391.799805,9.300000,22.1,13.0,69.466667,9707033,73.399994,0.8208,99.699997,25.000000,27.200001,1
140,141,Belgium,Europe,32868.800781,10.733334,14.2,5.0,79.566666,10567200,97.350006,0.7590,NaN,38.150002,NaN,1

In [51]:
#Tasa de alfabetismo promedio en Africa
df_africa['literacy'].mean()

65.30851067887976

In [53]:
#Tasa de alfabetismo promedio en Europa
df_europe['literacy'].mean()

98.17727279663086