In [3]:
#Importemos algunas de las librerías más clásicas para el manejo de datos en Python

#Pandas es la librería básica para la manipulación y análisis de datos
import pandas as pd

#Numpy es la biblioteca para crear vectores y matrices, además de un conjunto grande de funciones matemáticas
import numpy as np

#Seaborn es una librería que usamos para graficar
import seaborn as sns

#Statsmodels es la biblioteca para realizar modelos
import statsmodels.formula.api as smf

In [7]:
#Modulo 3 - Ahorre tiempo con el pensamiento estructurado - Autorreflexión: Trabajo con conjuntos de datos
#Obesity Prediction Dataset - Nota.Cambié el sentido del \ por / para que Python me tome el dataset
#Gender: Gender
#Age: Age
#Height : in metres
#Weight : in kgs
#family_history : Has a family member suffered or suffers from overweight?
#FAVC : Do you eat high caloric food frequently?
#FCVC : Do you usually eat vegetables in your meals?
#NCP : How many main meals do you have daily?
#CAEC : Do you eat any food between meals?
#SMOKE : Do you smoke?
#CH2O : How much water do you drink daily?
#SCC : Do you monitor the calories you eat daily?
#FAF: How often do you have physical activity?
#TUE : How much time do you use technological devices such as cell phone, videogames, television, computer and others?
#CALC : How often do you drink alcohol?
#MTRANS : Which transportation do you usually use?
#Obesity_level (Target Column) : Obesity level

In [5]:
df_obesity = pd.read_csv("C:/Users/alejo/Documents/Análisis de Datos/DataSet/Obesity prediction.csv", encoding="ISO-8859-1")

In [15]:
df_obesity.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [13]:
#Generar dataset con información de hombres
df_male = df_obesity[df_obesity['Gender']=='Male']

In [15]:
df_male.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight

In [17]:
#Generar data set con información de mujeres
df_female = df_obesity[df_obesity['Gender']=='Female']
df_female.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [19]:
#Detalle de los resultados de información por hombre
df_male.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000
mean,24.616020,1.758690,90.769478,2.274238,2.737592,2.073373,1.169639,0.668256
std,6.273121,0.072174,21.407030,0.477400,0.735382,0.584581,0.830368,0.643032
min,14.000000,1.560000,45.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,20.000000,1.705205,75.000000,2.000000,2.658747,1.880571,0.582555,0.000000
50%,23.000000,1.760000,89.945470,2.032064,3.000000,2.000000,1.000000,0.601865
75%,27.933529,1.807382,108.460518,2.737235,3.000000,2.464554,1.927013,1.000000
max,56.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [21]:
#Detalle de los resultados de información por mujer
df_female.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000
mean,24.001907,1.643298,82.302364,2.567319,2.632419,1.941083,0.847137,0.647227
std,6.407832,0.074509,29.723904,0.548079,0.816352,0.634037,0.840443,0.572016
min,15.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.627721,1.596526,58.000000,2.000000,2.663175,1.383862,0.000000,0.000000
50%,22.000000,1.639524,78.000000,2.964419,3.000000,2.000000,0.742113,0.655558
75%,26.000000,1.699516,105.036863,3.000000,3.000000,2.485002,1.507336,1.000000
max,61.000000,1.843419,165.057269,3.000000,4.000000,3.000000,3.000000,2.000000

In [23]:
#Cuántos consumen comidas altas en calorias
df_obesity['FAVC'].value_counts()

FAVC
yes    1866
no      245
Name: count, dtype: int64

In [27]:
#Cuántos comen alguna comida entre tiempos de comida
df_obesity['CAEC'].value_counts()

CAEC
Sometimes     1765
Frequently     242
Always          53
no              51
Name: count, dtype: int64

In [29]:
#Cantidad de personas fumadoras
df_obesity['SMOKE'].value_counts()

SMOKE
no     2067
yes      44
Name: count, dtype: int64

In [31]:
#Cantidad de personas que realizan actividad física
df_obesity['FAF'].value_counts()

FAF
0.000000    411
1.000000    234
2.000000    183
3.000000     75
0.110174      2
           ...
1.916751      1
0.954459      1
0.340915      1
0.986414      1
1.026452      1
Name: count, Length: 1190, dtype: int64

In [33]:
#Cantidad de horas dedicadas a dispositivos tecnológicos
df_obesity['TUE'].value_counts()

TUE
0.000000    557
1.000000    292
2.000000    109
0.630866      4
1.119877      3
           ...
1.343044      1
1.019452      1
0.673408      1
0.997600      1
0.714137      1
Name: count, Length: 1129, dtype: int64

In [35]:
#Frecuencia de consumo de alcohol
df_obesity['CALC'].value_counts()

CALC
Sometimes     1401
no             639
Frequently      70
Always           1
Name: count, dtype: int64

In [37]:
#Medio de transporte usado con mayor regularidad
df_obesity['MTRANS'].value_counts()

MTRANS
Public_Transportation    1580
Automobile                457
Walking                    56
Motorbike                  11
Bike                        7
Name: count, dtype: int64

In [39]:
#Nivel de obesidad
df_obesity['Obesity'].value_counts()

Obesity
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: count, dtype: int64